.signup-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%;
}

.inputbox > input {
    width: 350px;
    height: 30px;
    margin-top: 5px;
}

.inputbox2 > input {
    width: 350px;
    height: 30px;
    margin-bottom: 8px;
}

.usr_box {
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%;
}

.usr_btn {
  height: 70px;
  width: 130px;
}

.description_style {
  white-space: nowrap; 
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.description_style:hover {
  white-space: normal; 
  overflow: visible;
  width: 100%;
}